*,
:before,
:after{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	text-decoration: none;
	line-height: 1;
	box-sizing: border-box;
}
a,
a:visited{
	color: black;
}