
#about{
    @include marginM;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
details{
    summary{
        cursor: pointer;
        font-weight: 600;
        text-decoration: underline;
    }
    p{
        margin: $marginM;
    }
    hr{
        height: 1px;
        width: 100%;
        background-color: $black;
    }
}
// Desktop
@media screen and (min-width:$lBreakpoint) {
    #about{
        @include marginL;
    }
}
// Large desktop
@media screen and (min-width:$xlBreakpoint) {
    #about{
        @include marginXL;
    }
}