#contact{
    @include marginM;
    display : grid;
    gap: 25px;
}
.contact-container{
    display: flex;
    justify-content: space-between;
    .contact__links{
        display: grid;
        gap: 12px;
    }
    .contact__resume{
        display: grid;
    }
}


@media screen and (min-width:$lBreakpoint) {
    #contact{
        @include marginL;
    }
}
// Large desktop
@media screen and (min-width:$xlBreakpoint) {
    #contact{
        @include marginXL;
    }
}