#works{
    @include marginM;
    a{
        display:block;
        text-decoration: underline;
        text-align: end;
    }
}

.card-container{
    margin: $marginM 0;
    display: flex;
    overflow-x: scroll;
    gap: $marginM;
}
@media screen and (min-width:$lBreakpoint) {
    #works{
        @include marginL
    }
}
@media screen and (min-width:$xlBreakpoint) {
    #works{
        @include marginXL
    }
}